@font-face {
    font-family: zdfont; /* Project id 4161381 */
    src: url('//at.alicdn.com/t/c/font_4161381_ejimpf530wg.woff2?t=1697720548677') format('woff2'),
        url('//at.alicdn.com/t/c/font_4161381_ejimpf530wg.woff?t=1697720548677') format('woff'),
        url('//at.alicdn.com/t/c/font_4161381_ejimpf530wg.ttf?t=1697720548677') format('truetype');
}

.zdfont {
    font-size: 16px;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: zdfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zdmp-zhangdalogo::before {
    content: '\e60f';
}

.zdmp-weixin::before {
    content: '\e610';
}

.zdmp-zhengjian::before {
    content: '\e67f';
}

.zdmp-qiehuan::before {
    content: '\e67e';
}

.zdmp-dianhua::before {
    content: '\e605';
}

.zdmp-xinxi::before {
    content: '\e65a';
}

.zdmp-bofang::before {
    content: '\e66a';
}

.zdmp-zaituzhong::before {
    content: '\e659';
}

.zdmp-guanbi1::before {
    content: '\e67d';
}

.zdmp-shengxu::before {
    content: '\e67b';
}

.zdmp-jiangxu::before {
    content: '\e67c';
}

.zdmp-fuzhi::before {
    content: '\e67a';
}

.zdmp-qianwang::before {
    content: '\e65c';
}

.zdmp-yiqiangwan::before {
    content: '\e604';
}

.zdmp-yishiyong::before {
    content: '\e601';
}

.zdmp-yishixiao::before {
    content: '\e602';
}

.zdmp-yilingqu::before {
    content: '\e603';
}

.zdmp-tianjia::before {
    content: '\e650';
}

.zdmp-sousuo1::before {
    content: '\e679';
}

.zdmp-fanhui::before {
    content: '\e65e';
}

.zdmp-huidaoshouye::before {
    content: '\e660';
}

.zdmp-shoucangbiaoqing::before {
    content: '\e678';
}

.zdmp-cuowu1::before {
    content: '\e666';
}

.zdmp-bianji::before {
    content: '\e667';
}

.zdmp-jiazai::before {
    content: '\e668';
}

.zdmp-fenxiang::before {
    content: '\e669';
}

.zdmp-qianshou::before {
    content: '\e66b';
}

.zdmp-weigouxuanbeifen::before {
    content: '\e66c';
}

.zdmp-tishi::before {
    content: '\e66d';
}

.zdmp-jinggao::before {
    content: '\e66e';
}

.zdmp-yigouxuan1::before {
    content: '\e66f';
}

.zdmp-shanchu1::before {
    content: '\e670';
}

.zdmp-zaituzhong1::before {
    content: '\e671';
}

.zdmp-weizhi::before {
    content: '\e672';
}

.zdmp-jieshi::before {
    content: '\e673';
}

.zdmp-jubao::before {
    content: '\e674';
}

.zdmp-paijian::before {
    content: '\e675';
}

.zdmp-zhankai::before {
    content: '\e676';
}

.zdmp-emoji::before {
    content: '\e677';
}

.zdmp-shipin::before {
    content: '\e665';
}

.zdmp-guanfangkefu::before {
    content: '\e65f';
}

.zdmp-jiagou::before {
    content: '\e661';
}

.zdmp-shouji::before {
    content: '\e662';
}

.zdmp-yanzhengma::before {
    content: '\e663';
}

.zdmp-xueshengrenzheng::before {
    content: '\e664';
}

.zdmp-shanchu::before {
    content: '\e64a';
}

.zdmp-jine::before {
    content: '\e64b';
}

.zdmp-quxiaozhiding::before {
    content: '\e64c';
}

.zdmp-kefu::before {
    content: '\e64d';
}

.zdmp-shezhi::before {
    content: '\e64e';
}

.zdmp-pingjia::before {
    content: '\e64f';
}

.zdmp-wodedizhi::before {
    content: '\e651';
}

.zdmp-xiangjidefuben::before {
    content: '\e652';
}

.zdmp-zhiding::before {
    content: '\e653';
}

.zdmp-xinxidefuben::before {
    content: '\e654';
}

.zdmp-xiaoxitongzhi::before {
    content: '\e655';
}

.zdmp-xiangji::before {
    content: '\e656';
}

.zdmp-xiangce::before {
    content: '\e657';
}

.zdmp-tianjiadefuben::before {
    content: '\e658';
}

.zdmp-yijiejue::before {
    content: '\e65b';
}

.zdmp-tuihuotuikuan::before {
    content: '\e65d';
}

.zdmp-chakan::before {
    content: '\e639';
}

.zdmp-butongguo::before {
    content: '\e63a';
}

.zdmp-biaoqing::before {
    content: '\e63b';
}

.zdmp-dingwei::before {
    content: '\e63c';
}

.zdmp-guanbidefuben::before {
    content: '\e63e';
}

.zdmp-hongbao::before {
    content: '\e63f';
}

.zdmp-gouwuche::before {
    content: '\e640';
}

.zdmp-guanbi::before {
    content: '\e641';
}

.zdmp-dianpu::before {
    content: '\e642';
}

.zdmp-huanhuo::before {
    content: '\e643';
}

.zdmp-shoucang::before {
    content: '\e644';
}

.zdmp-shenhezhong::before {
    content: '\e645';
}

.zdmp-shaixuan::before {
    content: '\e646';
}

.zdmp-shenhetongguo::before {
    content: '\e647';
}

.zdmp-shipindefuben::before {
    content: '\e648';
}

.zdmp-paixu::before {
    content: '\e649';
}
