@import '@dcloudio/uni-ui/lib/uni-scss/variables.scss';

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$font-size: 28rpx;

/* 文字基本颜色  已修改 */
$uni-text-color: #292f33; // 基本色
$uni-text-color-inverse: #f5f8fa; // 反色
$uni-text-color-grey: #5c6266; // 辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #8a9399;
$uni-text-color-disable: #edf0f2;

/* 背景颜色 */
$uni-bg-color: #fff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1; // 点击状态颜色
$uni-bg-color-mask: rgb(0 0 0 / 40%); // 遮罩颜色

/* 边框颜色 */
$uni-border-color: #c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm: 12px;
$uni-font-size-base: 14px;
$uni-font-size-lg: 16;

/* 图片尺寸 */
$uni-img-size-sm: 20px;
$uni-img-size-base: 26px;
$uni-img-size-lg: 40px;

/* Border Radius */
$uni-border-radius-sm: 2px;
$uni-border-radius-base: 3px;
$uni-border-radius-lg: 6px;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 5px;
$uni-spacing-row-base: 10px;
$uni-spacing-row-lg: 15px;

/* 垂直间距 */
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;
$uni-spacing-col-lg: 12px;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关  已修改 */
$uni-color-title: #292f33; // 文章标题颜色
$uni-font-size-title: 20px;
$uni-color-subtitle: #5c6266; // 二级标题颜色
$uni-font-size-subtitle: 18px;
$uni-color-paragraph: #8a9399; // 文章段落颜色
$uni-font-size-paragraph: 15px;

/* 掌大辅助色 */
$zd-color-red: #ff4734;
$zd-color-orange: #ff8026;
$zd-color-yellow: #ffc20d;
$zd-color-purple: #7f66ff;
$zd-color-blue: #0cccf2;
$zd-color-green: #0bd983;

$zd-main-color: #199fff;
$zd-main-color1: #d1ecff;
$zd-main-color2: #a3d9ff;
$zd-main-color3: #75c6ff;
$zd-main-color4: #47b3ff;
$zd-main-color5: #199fff;
$zd-main-color6: #107ecc;
$zd-main-color7: #095d99;
$zd-main-color8: #043d66;
